<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyWiki - Wikipedia Made Easy</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <div class="header-container">
        <img src="logo.png" alt="EasyWiki Logo" class="header-logo-image" />
        <img src="logo-text.svg" alt="EasyWiki Logo" class="header-logo-text" />
        <h2 class="header-subtext">Wikipedia Made Easy.</h1>
    </div>
        
    <div class="info-container info-container-1">
        <p class="info-paragraph info-paragraph-1">We could not simplify the specified wikipedia article. Please ensure the provided link is correct. Otherwise, please try again at another time.<br /><br /><i>Note: Only English Wikipedia pages are supported at this time.</i></p>
        <a class="content-link" href="/" style="margin-bottom: 50px">
            <img class="content-icon" src="arrow.svg" alt="link icon">
            Home
        </a>
    </div>

    <%- include('footer'); -%>
</body>
</html>