<div class="footer-container">
    <h3 id="footer-text" class="footer-copyright">© EasyWiki 2023</h3>
    <p class="footer-links"><a href="#">Github</a> | <a href="#">Contact</a></p>
</div>
<script>
    document.getElementById('footer-text').innerText = "© EasyWiki " + (new Date()).getFullYear()
</script>