<div class="footer-container">
    <h3 id="footer-text" class="footer-copyright">© EasyWiki 2023</h3>
    <p class="footer-links"><a href="https://github.com/KaamiDev/EasyWiki">Github</a> | <a href="https://kaami.dev/">Contact</a></p>
</div>
<script>
    document.getElementById('footer-text').innerText = "© EasyWiki " + (new Date()).getFullYear()
</script>